<div class="container-fluid navbar" style="background-color: #006A67; display: flex; justify-content: center; align-items: center; height: 80px;">
  <h1 class="text-light">Lucky Kerala</h1>
</div>

<div class="container-fluid nav-links" style="background-color: #163020; display: flex; justify-content: center; align-items: center; height: 0px; overflow: hidden; transition: height 0.5s ease-in-out;">
  <a href="{% url 'index' %}" class="bt">Home</a>
  <a href="{% url 'second' %}" class="bt">Check</a>
</div>
